@page "/account/register"
@using Microsoft.Identity.Firebase.Models
@using Microsoft.Identity.Firebase.Models.Account
@inject NavigationManager NavigationManager
@inject IJSRuntime _jsRuntime

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="@OnValidSubmit" id="register-form">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Display Name</label>
                <InputText @bind-Value="model.DisplayName" class="form-control" />
                <ValidationMessage For="@(() => model.DisplayName)" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="model.Email" class="form-control" autocomplete="email" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" autocomplete="new-password" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <button disabled="@loading" class="btn btn-primary" type="submit" form="register-form">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Register
            </button>
            <NavLink href="authentication/login" class="btn btn-link">Cancel</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private NewUser model = new NewUser();
    private bool loading = true;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (!firstRender) loading = false;
    }

    private async void OnValidSubmit(EditContext editContext)
    {
        loading = true;
        try
        {
            var firebaseUser = await FirebaseAuth.CreateEmailUserAsync(model.Email, model.Password, model.DisplayName, _jsRuntime);
            if (firebaseUser is not null)
            {
                NavigationManager.NavigateTo("/");
                return;
            }
        }
        catch
        {
        }
        loading = false;
        StateHasChanged();
    }
}